<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class="centered">View Jobs By Category</h2>

  <table class="centeredTable">
    <tr>
      <th>All</th>
      <th>Position Type</th>
      <th>Employer</th>
      <th>Skill</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>
        <a th:href="@{/list/jobs(column='all')}">View All</a>
      </td>
      <td>
        <ul>
          <li th:each="position : ${positions}">
            <a th:href="@{/list/jobs(column='positionType', value=${position})}" th:text="${position}"></a>
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li th:each="employer : ${employers}">
            <a th:href="@{/list/jobs(column='employer', value=${employer})}" th:text="${employer}"></a>
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li th:each="skill : ${skills}">
            <a th:href="@{/list/jobs(column='coreCompetency', value=${skill})}" th:text="${skill}"></a>
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li th:each="location : ${locations}">
            <a th:href="@{/list/jobs(column='location', value=${location})}" th:text="${location}"></a>
          </li>
        </ul>
      </td>
    </tr>
  </table>

</div>

</body>
</html>
